

body {
  font-family: sans-serif;
}

h1 {
  font-size:3vw;
  font-family:Impact, 'Arial Narrow Bold', sans-serif;
  margin:auto;
  padding:auto;
  text-align: center;
}

h3 {
  text-align: center;
  margin:auto;
  padding:auto;
  font-size:2vw;
}

.horizontal-nav li {
    list-style-type: none;
    display: inline;
    text-align: center;
    margin:5vw; 
    max-width: 100%;
    font-size:1vw;
}

a {
  text-decoration: none;
  color: black;
  padding:1%;
  font-size:1vw;
}

nav { 
  text-align: center;
  padding: .5vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
  background-color: lightskyblue;
}

a:hover {
  color: coral;
  
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-family:Impact, 'Arial Narrow Bold', sans-serif;
}


#flex-item-1 /*type*/{
  width: 50%;
  padding:8vw;
  background-image: url("Proccess-Book-Mockup.png"); /*can't figure out why the pic isnt wokring, worked before*/
  background-size: 100%;
}

#flex-item-2 /*print*/ {
  width: 50%;
  padding:8vw;
  background-image: url("Paak.png");
  background-size: 100%;
}

#flex-item-3 /*branding*/ {
  width: 50%;
  padding:8vw;
  background-image: url("Business Card Mockup4 copy.png");
  background-size: 100%;
}

#flex-item-4 /*mixed media*/{
  width: 50%;
  padding:8vw;
  background-image: url("lidded-pot.png");
  background-size: 100%;
}


#flex-item-5:hover {
  background-color: coral;
  transition-duration:.3s;
}
#flex-item-6:hover {
  background-color: coral;
  transition-duration:.3s;
}
#flex-item-7:hover {
  background-color: coral;
  transition-duration:.3s;
}
#flex-item-8:hover {
  background-color: coral;
  transition-duration:.3s;
}

#flex-item-5 {
  width: 100%;
  padding:;
  text-align: center;
  font-size:1vw;
  font-weight: bold;
}

#flex-item-6 {
  width: 100%;
  padding:;
  text-align: center;
  font-size:1vw;
  font-weight: bold;
}

#flex-item-7 {
  width: 100%;
  padding:;
  text-align: center;
  font-size:1vw;
  font-weight: bold;
}

#flex-item-8 {
  width: 100%;
  padding:;
  text-align: center;
  font-size:1vw;
  font-weight: bold;
}

footer {
    margin-top: 30%;
    padding:6vw;
    text-align: center;
    font-size:50%; 
    background-color: coral;
}


