body {font-family: sans-serif;}

h1 {font-size:3wv;
  width: ;
  margin: auto;
  text-align: center}
h3 {
  font-size:80%;
  width: ;
  margin: auto;
  text-align: center
}

.horizontal-nav li {
    list-style-type: none;
    display: inline;
    margin-right: 10%;
    margin-left: 10%;
    font-size:50%;
    
}

a {
  text-decoration: none;
  background-color: lightblue;
  color: black;
  padding:1%;
  
  
}

nav { 
  text-align: center;
}

.flex-container{
  display: flex;
  flex-direction: colunm;
  
}

#flex-item-1 {
  width: 100%;
  padding:5vw;
  text-align: center;
  background-color: orange;
}

#flex-item-2 {
  width: 100%;
  padding:5vw;
  text-align: center;
  background-color: lightblue;
}

#flex-item-3 {
  width: 100%;
  padding:5vw;
  text-align: center;
  background-color: lightgreen
}

#flex-item-4 {
  width: 100%;
  padding:5vw;
  text-align: center;
  background-color: Pink
}

#flex-item-5 {
  width: 100%;
  padding:;
  text-align: center;
}

#flex-item-6 {
  width: 100%;
  padding:;
  text-align: center;
}

#flex-item-7 {
  width: 100%;
  padding:;
  text-align: center;
}

#flex-item-8 {
  width: 100%;
  padding:;
  text-align: center;
}

footer {
    padding-top: 6%;
    text-align: center;
    font-size:50%; 
}


